In [1]:
import pandas as pd

## 1. Read data using the `read_html` method from the table "Birth Rate in Ukrainian Regions (1950-2019)" from provided links.

In [2]:
#Using read_csv instead of read_html because of old link
df = pd.read_csv("html_data.csv")

## 2. Display the first rows of the table using the `head` method.

In [3]:
df.head()

                         regions  2011  2012  2013  2015  2017  2019  2021
0  Autonomous Republic of Crimea  1.56  1.68  1.66     _     _     _     _
1               Vinnytsia region  1.53  1.59  1.53   1.5  1.36   1.2  1.14
2                   Volyn region  1.81  1.92  1.86  1.74  1.62  1.48  1.45
3          Dnipropetrovsk region  1.44  1.52  1.51  1.48  1.29  1.11  1.03
4                 Donetsk region  1.27  1.34  1.32     _     _     _     _

## 3. Define the number of rows and columns in the dataset (use the `shape` attribute).

In [4]:
df.shape

(27, 8)

## 4. Replace the `"—"` value in the table with NaN.

## 5. Define the types of all columns using `dataframe.dtypes`.

## 6. Change the types of non-numeric columns to numeric. Hint: these are columns that contained the `"—"`.

## 7. Calculate the proportion of empty places in each column (use `isnull` and `sum` methods).

## 8. Remove data for the entire country, which is the last row of the table.

## 9. Place missing data in columns with average values of those columns (using `fillna`).

## 10. Obtain a list of regions where the birth rate in 2019 was higher than the average for Ukraine.

## 11. Which region had the highest birth rate in 2014?

## 12. Build a bar chart of the birth rate by regions for 2019.